@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.fade-up{

animation:fadeUp .8s ease forwards;

}
@keyframes pulse{

0%{

transform:scale(1);

box-shadow:0 0 0 rgba(229,57,53,.3);

}

50%{

transform:scale(1.05);

box-shadow:0 0 40px rgba(229,57,53,.45);

}

100%{

transform:scale(1);

box-shadow:0 0 0 rgba(229,57,53,.3);

}

}
@keyframes pulseDot{

0%{

transform:scale(1);

opacity:1;

}

50%{

transform:scale(1.4);

opacity:.6;

}

100%{

transform:scale(1);

opacity:1;

}

}