*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Inter,sans-serif;

}

body{

background:#070707;

color:white;

padding:25px;

overflow-x:hidden;

}

.background-glow{

position:fixed;

top:-140px;

left:-140px;

width:320px;

height:320px;

background:#d61f2c;

filter:blur(150px);

opacity:.18;

z-index:-1;

}

.login-container{

max-width:420px;

margin:auto;

padding-top:35px;

}

.logo-area{

text-align:center;

margin-bottom:35px;

}

.logo-area img{

width:85px;

margin-bottom:15px;

}

.logo-area h1{

font-size:42px;

font-weight:800;

}

.logo-area span{

color:#d61f2c;

}

.logo-area p{

margin-top:10px;

color:#9a9a9a;

font-size:15px;

}

h2{

font-size:38px;

margin-bottom:10px;

}

.subtitle{

font-size:18px;

line-height:30px;

color:#9a9a9a;

margin-bottom:35px;

}

.input-box{

margin-bottom:20px;

}

.input-box label{

display:block;

margin-bottom:8px;

font-size:15px;

color:#ddd;

}

.input-box input{

width:100%;

height:62px;

background:#141414;

border:1px solid #252525;

border-radius:18px;

padding:0 18px;

font-size:16px;

color:white;

outline:none;

}

.input-box input:focus{

border-color:#d61f2c;

}

.forgot{

text-align:right;

margin-bottom:25px;

}

.forgot a{

color:#d61f2c;

text-decoration:none;

font-size:15px;

}

button{

width:100%;

height:60px;

border:none;

border-radius:18px;

background:#d61f2c;

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#b91622;

}

.divider{

text-align:center;

margin:28px 0;

color:#888;

}

.google{

background:#151515;

border:1px solid #2a2a2a;

}

.signup{

text-align:center;

margin-top:25px;

color:#9d9d9d;

}

.signup a{

color:#d61f2c;

text-decoration:none;

font-weight:700;

}

@media(min-width:768px){

body{

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

}

.login-container{

max-width:460px;

}

}